body { 
margin:0px;
font-family:"Helvetica Neue" Arial;
}

div.header {
	background-color: #009999;
	color: white;
	height: 140px;
	padding-top:10px;
	padding-left:100px;
	}

div.linkbar {
	background-color:#9900CC;
	height:40px;
}

div.maincontent {
padding-left:100px;
width:300px;
}

p
{
font-style:italic;
}

div.linkbar a
{
color:white;
text-decoration: none;
float:left;
font-size:21px;
padding-top:5px;
}

div.linkbar a:hover {
color:red;
}

div.linkbar a.home
{padding-left:100px;
}
div.linkbar a.about
{padding-left: 20px;

}




